{{#each erros}}
  <div id="snackbar">
    <div class="toast bg-danger">
      <script>myFunction()</script>
      {{texto}}
    </div>
  </div>
{{/each}}
<h3>Nova Categoria: </h3>
<div class="card">
  <div class="card-body">
    <form class="form-action" action="/admin/postagens/nova" autocomplete="off" method="post">
      <label for="titulo">Título: </label>
      <input type="text" id="titulo" class="form-control mb-3" name="titulo" placeholder="Título da postagem">
      <label for="slug">Slug: </label>
      <input type="text" id="slug" class="form-control mb-3" name="slug" placeholder="Slug da postagem">
      <label for="categoria">Categoria</label>
      <select class="custom-select mb-3" name="categoria">
        <option selected>--- Selecione uma categoria ---</option>
        {{#each categorias}}
        <option value="{{id}}">{{nome}}</option>
        {{else}}
        <option value="0">Nenhuma categoria registrada</option>
        {{/each}}
      </select>
      <label for="descricao">Descrição: </label>
      <input type="text" id="descricao" class="form-control mb-3" name="descricao" placeholder="Descrição da postagem">
      <label for="conteudo">Conteúdo: </label>
      <textarea id="conteudo" class="form-control mb-4" name="conteudo" rows="8" cols="80"></textarea>
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
</div>
