{{#each erros}}
  <div id="snackbar">
    <div class="toast bg-danger">
      <script>myFunction()</script>
      {{texto}}
    </div>
  </div>
{{/each}}
<h3>Editar Categoria: </h3>
<div class="card">
  <div class="card-body">
    <form class="form-action" action="/admin/categorias/edit" autocomplete="off" method="post">
      <input type="hidden" name="id" value="{{id}}">
      <label for="nome">Nome: </label>
      <input type="text" id="nome" class="form-control mb-3" name="nome" value="{{nome}}">
      <label for="slug">Slug: </label>
      <input type="text" id="slug" class="form-control mb-4" name="slug" value="{{slug}}">
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
</div>
