{{#each erros}}
  <div id="snackbar">
    <div class="toast bg-danger">
      <script>myFunction()</script>
      {{texto}}
    </div>
  </div>
{{/each}}
<h3>Editar Postagem: </h3>
<div class="card">
  <div class="card-body">
    <form class="form-action" action="/admin/postagens/edit" autocomplete="off" method="post">
      <input type="hidden" name="id" value="{{id}}">
      <label for="titulo">Título: </label>
      <input type="text" id="titulo" class="form-control mb-3" name="titulo" value="{{titulo}}">
      <label for="slug">Slug: </label>
      <input type="text" id="slug" class="form-control mb-3" name="slug" value="{{slug}}">
      <label for="categoria">Categoria: {{categoriaId}}, {{categoriaNome}}</label>
      <select class="custom-select mb-3" name="categoria">
        {{#each select_filter}}
          {{#if selected}}
            <option selected value="{{id}}">{{nome}}</option>
          {{else}}
            <option value="{{id}}">{{nome}}</option>
          {{/if}}
        {{/each}}
      </select>
      <label for="descricao">Descrição: </label>
      <input type="text" id="descricao" class="form-control mb-3" name="descricao" value="{{descricao}}">
      <label for="conteudo">Conteúdo: </label>
      <textarea id="conteudo" class="form-control mb-4" name="conteudo" rows="8" cols="80">{{conteudo}}</textarea>
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
</div>
