<div class="top-list row">
  <div class="col-lg-5 col-6">
    <h2 class="title-list">Postagens</h2>
  </div>
  <div class="col-lg-2 col-6">
    <a href="/admin/postagens/add" class="link-new">
      <button type="submit" class="btn btn-success">Nova Postagem</button>
    </a>
  </div>
  <div class="col-lg-5 col-12">
    <form class="order" action="/admin/postagens" method="post">
      <div class="form-row">
        <div class="col-auto">
          <select class="custom-select mr-sm-2" id="select-order" name="select_order">
            <option {{select.titulo}} value="titulo">Titulo</option>
            <option {{select.slug}} value="slug">Slug</option>
            <option {{select.data}} value="data">Data</option>
          </select>
        </div>
        <div class="col-auto align-items-center">
          <div class="my-2">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="ascendente" name="radio_order" value="1" {{check.asc}}>
              <label class="custom-control-label" for="ascendente">Asc</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="decrescente" name="radio_order" value="-1" {{check.desc}}>
              <label class="custom-control-label" for="decrescente">Desc</label>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Ordenar</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{#each postagens}}
  <div class="card mt-2">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <small>{{slug}}</small>
      <small class="data date-{{id}}"></small>
      <script>
        document.querySelector('.date-{{id}}').innerHTML = new Date('{{data}}').toLocaleDateString();
      </script>
      <div class="group-action">
        <form class="form-btn-edit mb-1" action="/admin/postagens/edit/{{id}}" method="get">
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="material-icons">edit</i>
          </button>
        </form>
        <form class="form-btn-delete" action="/admin/postagens/delete" method="post">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-danger btn-sm">
            <i class="material-icons">delete</i>
          </button>
        </form>
      </div>
    </div>
  </div>
{{else}}
  <p>Nenhuma postagem registrada!</p>
{{/each}}
