{{#if success_msg}}
  <div id="snackbar">
    <div class="toast bg-success">
      <script>myFunction()</script>
      {{success_msg}}
    </div>
  </div>
{{/if}}

{{#if error_msg}}
  <div id="snackbar">
    <div class="toast bg-danger">
      <script>myFunction()</script>
      {{error_msg}}
    </div>
  </div>
{{/if}}
