<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog do Node</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto navmenu">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/postagens">Postagens</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/categorias">Categorias</a>
        </li>
        <li class="nav-item active dropdown drop-admin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Admin</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/categorias">Categorias</a>
            <a class="dropdown-item" href="/admin/postagens">Postagens</a>
          </div>
        </li>
        <div class="nav-usuario">
          {{#if user}}
            <li class="nav-link active">Bem-vindo, {{user.nome}}</li>
            <a href="/usuario/logout">
              <button class="btn btn-warning">X</button>
            </a>
          {{else}}
            <li class="nav-item active">
              <a class="nav-link" href="/usuario/login">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/usuario/registro">Registro</a>
            </li>
          {{/if}}
        </div>
      </ul>
    </div>
  </div>
</nav>
