<h2>Postagens filtradas pela categoria: {{categoria.nome}}</h2>
<hr>
{{#each posts}}
  <div class="card mb-3">
    <div class="card-body">
      <a href="/post/{{slug}}"><h3>{{titulo}}</h3><a/>
      <p>{{descricao}}</p>
      <hr>
      <span class="date-{{id}}">{{data}}</span>
      <script>
        document.querySelector('.date-{{id}}').innerHTML = 'Publicado em: ' +
          new Date('{{data}}').toLocaleDateString()
      </script>
    </div>
  </div>
{{else}}
  <h4>Nenhuma postagem com essa categoria.</h4>
{{/each}}
