<h2>{{post.titulo}}</h2>
<hr class="my-2">
<span>Categoria: {{post.categoria.nome}}</span> |
<span class="data-post"></span>
<script>
  document.querySelector('.data-post').innerHTML = 'Publicado em: ' +
    new Date('{{post.data}}').toLocaleDateString();
</script>
<hr class="my-2 mb-4">
<p>{{{post.conteudo}}}</p>
