<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Node.js</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
      function myFunction() {
        var x = document.querySelectorAll("#snackbar");
        for (var i = 0; i < x.length; i++) {
          var mbottom = '0px'
          x[i].classList.add("show")
          x[i].style.marginBottom += parseInt(mbottom.slice(0, -2)) + 70*i + 'px'
        }

        setTimeout(function () {
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("show")
          }
        }, 7500);

      }
    </script>
  </head>
  <body>
    {{>_navbar}}
    <div class="container mt-4">
      {{#if error}}
        <div id="snackbar">
          <div class="toast bg-danger">
            <script>myFunction()</script>
            {{error}}
          </div>
        </div>
      {{else}}

      {{/if}}
      {{>_msg}}
      {{{body}}}
    </div>
    {{>_footer}}
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</html>
