<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Blog do Node!</h1>
  <p class="lead">Este é um blog simples, com gerenciamento de postagens e
  categorias.</p>
  <hr class="my-4">
  <p>Feito com Node.js + Express.js + MongoDB.</p>
  <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>

{{#each postagens}}
  <div class="card mb-3">
    <div class="card-body">
    <a href="/post/{{slug}}"><h3>{{titulo}}</h3><a/>
      <p>{{descricao}}</p>
      <hr>
      <span>Categoria: {{categoria.nome}}</span> |
      Publicado em: <span class="date-{{id}}">{{data}}</span>
      <script>
        document.querySelector('.date-{{id}}')
          .innerHTML = new Date('{{data}}').toLocaleDateString()
      </script>
    </div>
  </div>
{{else}}
  <h4>Nenhuma postagem.</h4>
{{/each}}
