.top-list {
  display: flex;
  width: 100%;
}
.title-list {
  display: block;
  margin-right: auto;
}
.link-new {
  display: block;
  margin-left: 0;
  margin-right: -30px;
}
.order {
  margin-left: auto;
  float: right;
  padding-right: 0;
  margin-right: -30px;
}
.data {
  display: block;
  float: left;
  position: absolute;
  top: 3px;
  left: 20px;
  font-size: 10px;
}
body {
  min-height: calc(100vh -  max-content);
}

.footer {
  padding: 13px;
  background-color: #77777720;
  position: absolute;
  width: 100%;
  top: calc(100vh - 74px);
}
.group-action{
  position: absolute;
  display: block;
  float: right;
  top: 18px;
  right: 18px;
}
.btn-sm {
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 2px;
}
.material-icons {
  padding: 0;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 5%;
  font-size: 17px;
}

.toast {
  padding: 16px;
  border-radius: 2px;
}
.bg-success {
  background-color: #00c851;
}
.bg-danger {
  background-color: #ff3547;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 7s;
  animation: fadein 0.5s, fadeout 0.5s 7s;
}

.navmenu {
  width: 100%;
}
/* .nav-item:nth-last-child(1) {
  margin-inline-start: auto;
} */
div.nav-usuario {
  width: 100%;
  display: flex;
  justify-content: end;
} 
.drop-admin {
  width: calc(150px - 3%);
}
.nav-link {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
