<h3>Logar:</h3>
<div class="card">
  <div class="card-body">
    <form action="/usuario/login" method="post">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" class="form-control mb-3" required>
      <label for="senha">Senha: </label>
      <input type="password" name="senha" id="senha" class="form-control mb-3" required>
      <button type="submit" class="btn btn-success">Entrar</button>
    </form>
  </div>
</div>