{{#each erros}}
  <div id="snackbar">
    <div class="toast bg-danger">
      <script>myFunction()</script>
      {{texto}}
    </div>
  </div>
{{/each}}

<h3>Crie sua conta:</h3>
<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      <label for="nome">Nome: </label>
      <input type="text" name="nome" id="nome" class="form-control mb-3" required>
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" class="form-control mb-3" required>
      <label for="senha">Senha: </label>
      <input type="password" name="senha" id="senha" class="form-control mb-3" required>
      <label for="senha2">Repita sua senha: </label>
      <input type="password" name="senha2" id="senha2" class="form-control mb-3" required>
      <label for="isadmin">É Admin?</label>
      <input type="checkbox" name="isAdmin" id="isadmin" class="check-control">
      <button type="submit" class="btn btn-success">Criar conta</button>
    </form>
  </div>
</div>